<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.argus" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/argus"
        android:label="Argus"
        android:theme="@style/AppTheme"
        android:name=".floatDragon_ui.FloatApplication">

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.SelectAppsActivity"
            android:label="@string/title_activity_select_apps" >
        </activity>
        <activity
            android:name=".Activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".floatDragon_ui.LockAdmin"
            android:label="@string/app_name"
            android:description="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@layout/lock" />
            <intent-filter>
                <action
                    android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service android:name=".floatDragon_ui.MyService"/>
        <service android:name=".floatDragon_ui.FxService"/>
        <service android:name=".floatDragon_ui.ItService"/>
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

</manifest>
