<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.argus" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/argus"
        android:label="Argus"
        android:theme="@style/AppTheme"
        android:name=".floatDragon_ui.FloatApplication">

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.SelectAppsActivity"
            android:label="@string/title_activity_select_apps" >
        </activity>
        <activity
            android:name=".Activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".floatDragon_ui.MyService"/>
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
